/*declaration des fonts*/
@font-face {
	font-family: 'SEASRN';
	src: url('SEASRN.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bazar';
	src: url('bazar.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'oswald';
	src: url('oswald.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'roboto-slab';
	src: url('roboto-slab.ttf');
	font-weight: normal;
	font-style: normal;
}
/* mutualisation des élément du body*/
body{
	text-align: center;
}
/*mise en forme du menu*/
header, #intro {
	background-color: #7dc0c0;
	margin: 0px;
	padding:20px;
	border-bottom: solid 1px black;
}
header::after {
	content:" ";
	display:block;
	border-bottom: dashed 1px black;
	width:auto; 
	}
header nav {
	padding: 40px;
}
header ul li{
	font-family: Bazar;
	color:  #f9ebd9;
	display: inline-block;
	width: 23%;
	font-size: 54px;
	font-weight: 400;
	text-align: left;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
	text-align: center;
}
/*mutualisation des sections*/
section {
	border-bottom: solid 1px black;
	padding: 20px;
}
section::after , section::before{
	content:" ";
	display:block;
	border-bottom: dashed 1px black;
	width:auto;
}
/* mise en forme de l'intro*/
#intro h1 {
	margin-top: 40px;
	padding-bottom: 40px;
}
h1 {
	background: url(../images/retro.png) no-repeat;
	width: 793px;
	height:207px;
	margin:auto;
	padding: 10px;
}
h1 > span {
	visibility: hidden;
}
figure {
	display: inline-block;
	background-color: white;
	border-radius: 6px;
	box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.3);
	width: 70%;
	height: 70%;
}
#intro img {
	width: 100%;
}

#intro figcaption {
	font-family: Bazar;
	color:  #383a3c;
	font-size: 44px;
	font-weight: 400;
	text-align: center;
}
#hi {
	padding-top: 40px;
	font-family: Bazar;
	color:  #f8ecd8;
	font-size: 64px;
	font-weight: 400;
	text-align: center;
}
#hi2 {
	padding-top: 0px;
	padding-bottom: 40px;
	font-family: Bazar;
	color:  #f8ecd8;
	font-size: 53px;
	font-weight: 400;
	text-align: center;
}
/*mise en forme du A propos*/
#about {
	background-color: #e1ddcc;
	border-bottom: solid 1px black;
}
#about img {
	width: 100%;
}
h2 .short-title { 
	text-transform: uppercase;
	display: block;
	font-family: Bazar;
	color:  #393a3a;
	font-size: 180px;
	font-weight: 400;
	padding: 40px;
	text-shadow: 2px 2px white, 5px 5px black;
}
.description {
	font-family: Oswald;
	color:  #38353e;
	font-size: 32px;
	font-weight: 400;
}
#about ul{
	padding-top: 80px;
}

li {
	vertical-align: top;
	display: inline-block;
	width:23%;
}
li h3 {
	display: inline-block;	
}
li h3 .short-title{
	display: block;
	font-family: Bazar;
	color:  #383a3c;
	font-size: 54px;
	font-weight: 400;
	padding-bottom: 40px;
	padding-top: 80px;
}
li h3 .description {
	display: block;
	font-family: roboto-slab;
	color:  #383a3c;
	font-size: 28px;
	font-weight: 400;
	padding-bottom: 40px;
}
li p {
	font-family: roboto-slab;
	line-height: 50px;
	color:  #383a3c;
	font-size: 28px;
	font-weight: 400;
	text-align: left;
}
#portfolio {
	background-color: #df8765;
}
#portfolio p {
	height: 42px;
	display: inline-block;
	vertical-align: middle;
}
#portfolio ul {
	display:inline-block;
}
#portfolio nav{
	font-family: roboto-slab;
	color:  #383a3c;
	font-size: 32px;
	font-weight: 400;
	padding-top: 80px;
	padding-bottom: 40px;
}
#portfolio nav li {
	vertical-align: middle;
	background-color: #fbfaf6;
	width:auto;
	height: 42px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-right: 15px;
	padding-left: 15px;
}
.arrow-left {
	vertical-align: middle;
    display: inline-block;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-right: 30px solid #fbfaf6;
}
#portfolio img{
	width:100%;
}
#portfolio figure{
	padding: 4px;
	display: inline-block;
	background-color: white;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
#portfolio figcaption {
	width:auto;
	font-family: Bazar;
	color:  #383a3c;
	font-size: 44px;
	font-weight: 400;
	text-align: center;
}
#portfolio a, #blog a {
	display: inherit;
	font-family: Oswald;
	color:  #38353e;
	font-size: 28px;
	font-weight: 700;
	padding-top: 40px;
	padding-bottom: 40px;
}
#blog {
	background-color: #dddad8;
}
#blog article {

}
#blog h3{
	display:block;
}
#blog ul li {
	display:block;
	text-align: left;
	width: 100%;
}
#blog ul li, #blog img{
	display: inline-block;
	padding: 20px;
}
#blog ul li div{
	position:relative;
}
#blog ul li div span{
	position:absolute; right: 10px;

}
#blog img {
	height:430px;
	float: left;
}
h3 {
	font-family: roboto-slab;
	color:#383a3c;
	font-size: 48px;
	font-weight: 700;
}
#blabla > *{
	display:inline;
	font-family: oswald;
	color:  #38353e;
	font-size: 20px;
	font-weight: 700;
}
#blog ul li span {
	text-align: right;
}
#contact {
	background-color: #50545a;
}
#contact .short-title {
	color:#f6edd8;
	text-shadow: 2px 2px #4f5259, 5px 5px #d4cebf;
}