label span
{
	float: left;
	width: 100px;
	display: block;
	
}
#btnSub
{
	background-color: red;
	color: white;
	border-color: white;
	margin-left: 80px;
	width: 50px;
	height: 50px;
	border-radius: 50px 25px;
	box-shadow: 15px 10px 5px -3px orange;
}
.message
{
	background-color: red;
	color: white;
	text-transform: uppercase;
	text-align: center;
	width: 300px;
	height: 50px;
	border-radius: 50px 25px;
	box-shadow: 20px 15px 10px -5px orange;
}
body
{
	background-color: #FFDEAD;
}
input[type=text], input[type=password]
{
	border: none;
	border-radius: 30px 10px;
	box-shadow: 15px 10px 5px -3px orange;
	/*float: right;*/

}
table
{
	border: 2px solid black;
	/*text-align: center;*/
	width:1024px;
}